<h1>Add your post</h1>
<p>
	<form>	 
		<div class="form-group">
		    <textarea class="form-control" rows="6"></textarea>
	  	</div> 
	  	</br>
	  	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>